<ion-header>
  <ion-navbar>
    <button ion-button
            menuToggle
            icon-only
            *ngIf="isAuthenticated">
      <ion-icon name='menu'></ion-icon>
    </button>
    <ion-title>
      Welcome
    </ion-title>
  </ion-navbar>
</ion-header>
<ion-content padding>
  <div *ngIf="isAuthenticated">
    <h1>Welcome</h1>
    <button ion-button
            block
            (click)="viewPhotos()">View Photos</button>
  </div>
  <div *ngIf="!isAuthenticated">
    <button ion-button
            block
            (click)="login()">Login</button>
    <button ion-button
            block
            color="light"
            (click)="register()">Register</button>
  </div>
</ion-content>